/*----------------------------------
    MEDIUM LAYOUT: 1280px
-----------------------------------*/

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .navbar-collapse {
        padding-right: 0;
    }
    .nav-style-boxed .navbar-collapse {
        padding-left: 15px;
    }
    .dropdown i {
        display: none;
    }
}


/*----------------------------------
    TABLET LAYOUT: 768px
------------------------------------*/

@media (min-width: 768px) and (max-width: 991px) {
    .navbar-brand {
        position: absolute;
        left: 38%;
        margin: 0px;
    }
    .navbar-toggle i {
        color: #fff;
    }
    .navbar-header {
        margin-bottom: 60px;
    }
    .search-box-outer {
        right: -12px;
        margin-top: -31px;
    }
    .navigation-menu .navbar-right {
        float: left!important;
        margin-left: 0px;
    }
    .navbar-brand {
        margin-left: 0px;
    }
    .navbar-nav {
        margin-right: 14px;
    }
    .lg-title {
        font-size: 32px;
        line-height: 42px;
    }
    .slider-content-box {
        padding-bottom: 50px;
    }
    .slider-content-box p {
        font-size: 16px;
        line-height: 26px;
        padding-right: 0px;
    }
    .owl-nav .owl-next,
    .owl-nav .owl-prev {
        opacity: 0;
    }
    /*    Feature  */
    .feature-content-box,
    .service-content-box {
        margin-bottom: 60px;
    }
    .work-skill {
        padding: 0px 20px 60px 20px;
    }
    .process-step-content {
        padding: 100px 25px;
    }
    /*  TESTIMONIAL   */
    .testimonial-content-block {
        padding: 60px 23px 60px 20px;
    }
    .client-info-block {
        margin-bottom: 70px;
        margin-left: 20px;
    }
    /*    BLOG  */
    .box-col .blog-thumb {
        width: 49%;
        float: left;
    }
    .box-col .blog-content {
        width: 49%;
        float: left;
    }
    /*  PORTFOLIO     */
    .hover-overlay .portfolio-caption h5 {
        font-size: 13px;
        left: 10%;
    }
    .hover-overlay .portfolio-caption:hover h5 {
        top: 20%;
    }
    .hover-overlay .portfolio-caption:hover p {
        left: 10%;
        top: 60%;
    }
    .portfolio-content h3 {
        font-size: 16px;
        line-height: 16px;
    }
    .portfolio-content h4 {
        font-size: 14px;
        line-height: 22px;
    }
    #section-footer-btm p,
    .footer-menu ul {
        text-align: center;
    }
    .footer-widget {
        margin-top: 50px;
    }
    /*   PAge   */
    .page-feature-block p {
        padding-right: 0px;
    }
    .blog-article-details {
        margin-bottom: 54px;
    }
    .sidebar {
        margin-top: 50px;
        padding-left: 20px;
    }
    /* top info */
    ul.top-info li {
        padding-right: 12px;
    }
    /* Header */
    .navbar-fixed {
        position: relative;
        animation: none;
    }
    .logo {
        text-align: center;
        width: 100%;
    }
    .nav-style-boxed .logo {
        padding: 30px 0 25px 10px;
    }
    /* Navstyle box */
    .nav-style-boxed .site-navigation .container {
        height: 60px;
    }
    .nav-style-boxed .navbar-collapse {
        background: #fff;
    }
    .nav-style-boxed ul.navbar-nav>li>a {
        color: #333;
    }
    .nav-style-boxed ul.navbar-nav>li {
        padding: 0 60px 0 30px;
    }
    /* Navigation breakpoint */
    .navbar-toggle {
        display: block;
        position: absolute;
        top: 0;
        right: 25px;
        /*    	margin-top: 28px;*/
        z-index: 1;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    ul.navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }
    ul.navbar-nav>li {
        float: none;
        display: block;
    }
    .collapse.in {
        display: block !important;
    }
    .navbar-collapse.in {
        overflow-y: auto;
    }
    ul.nav li.dropdown:hover ul.dropdown-menu {
        display: none;
    }
    ul.nav li.dropdown.open ul.dropdown-menu {
        display: block;
    }
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    /* Navigation */
    .site-nav-inner {
        width: 100%;
    }
    .navbar-collapse {
        background: none;
        width: 100%;
    }
    ul.navbar-nav>li:hover>a:after,
    ul.navbar-nav>li.active>a:after {
        content: '';
    }
    .navbar-nav .open .dropdown-menu>li {
        padding-left: 0;
    }
    .navbar-nav .open .dropdown-menu>li>a,
    .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 10px 10px;
    }
    ul.navbar-nav>li,
    .nav-style-boxed ul.navbar-nav>li {
        display: block;
        padding-left: 30px;
    }
    ul.navbar-nav>li>a {
        padding: 10px 0;
    }
    .navbar-nav .open .dropdown-menu>li>a {
        line-height: 30px;
    }
    ul.navbar-nav>li.nav-search,
    ul.navbar-nav>li.header-get-a-quote {
        display: none;
    }
    ul.navbar-nav {
        width: 100%;
        padding: 0 0 10px;
    }
    ul.navbar-nav li {
        float: none;
    }
    ul.navbar-nav li a {
        line-height: normal !important;
        padding: 10px 0 !important;
        color: #333;
        border-top: 1px solid #f1f1f1 !important;
        border-bottom: 0;
    }
    ul.navbar-nav .dropdown-menu {
        float: none;
        position: relative;
        border: 0;
        margin: 0;
        padding: 0;
    }
    ul.navbar-nav .dropdown-menu li a {
        padding-left: 20px!important;
        background: none !important;
    }
    ul.navbar-nav li.dropdown ul.dropdown-menu li.dropdown-submenu .dropdown-menu {
        left: 0;
        position: relative;
    }
    ul.navbar-nav li.dropdown ul.dropdown-menu li.dropdown-submenu .dropdown-menu a {
        padding-left: 50px;
    }
    ul.navbar-nav li.dropdown ul.dropdown-menu li.dropdown-submenu a i {
        margin-top: -22px;
    }
    ul.navbar-nav li.dropdown ul.dropdown-menu li.dropdown-submenu .dropdown-menu li a {
        padding-left: 35px!important;
    }
    ul.navbar-nav .dropdown-menu {
        box-shadow: none;
        border-top: 0;
        background: none;
    }
    ul.navbar-nav li a i,
    .dropdown-submenu>a:after {
        background: #f5f5f5;
        float: right;
        width: 36px;
        height: 28px;
        line-height: 28px;
        margin-top: -5px;
        text-align: center;
    }
    .dropdown-submenu>a:after {
        margin-right: 0;
    }
    /* Slideshow */
    #main-slide .item {
        min-height: 500px;
    }
    .slide-title {
        font-size: 16px;
        line-height: 24px;
    }
    .slide-sub-title {
        font-size: 28px;
        line-height: 36px;
    }
    .slider-description.lead {
        font-size: 14px;
    }
    .slider.btn {
        font-size: 12px;
        padding: 10px 25px;
    }
}


/*----------------------------------
    WIDE MOBILE LAYOUT: 480px
-----------------------------------*/

@media only screen and (min-width: 480px) and (max-width: 767px) {}


/*----------------------------------
    MOBILE LAYOUT: 320px
-----------------------------------*/

@media only screen and (max-width: 768px) {
    .bizcafe-content-padding {
        padding: 60px 0px;
    }
    .navbar-brand {
        left: 0;
        margin: 0px 0px;
    }
    .top-contact,
    .top-social {
        padding: 20px 0px;
        text-align: center;
    }
    .navbar-nav {
        margin-right: 14px;
    }
    .navbar-header {
        padding: 20px 0px;
    }
    .logo {
        width: 70%;
    }
    .navbar-default li a {
        padding: 20px 15px;
    }
    .navbar-brand {
        margin-top: -6px;
    }
    .search-box-outer {
        display: none;
    }
    .lg-title {
        font-size: 32px;
        line-height: 42px;
    }
    .slider-content-box p {
        font-size: 16px;
        line-height: 26px;
        padding-right: 0px;
    }
    .owl-nav .owl-next,
    .owl-nav .owl-prev {
        opacity: 0;
    }
    /*    Feature  */
    .feature-content-box,
    .service-content-box {
        margin-bottom: 60px;
    }
    .work-skill {
        padding: 0px 20px 60px 20px;
    }
    .process-step-content {
        padding: 100px 25px;
    }
    /*  TESTIMONIAL   */
    .testimonial-content-block {
        padding: 60px 23px 60px 20px;
    }
    .client-info-block {
        margin-bottom: 70px;
        margin-left: 20px;
    }
    #section-footer-btm p,
    .footer-menu ul {
        text-align: left;
    }
    .footer-widget {
        margin-top: 50px;
    }
    /*   PAge   */
    .page-feature-block p {
        padding-right: 0px;
    }
    /*    Team */
    .team-content-block {
        margin-bottom: 40px;
        text-align: center;
    }
    #section-counter {
        padding-bottom: 0px;
    }
    #section-counter div {
        margin-bottom: 30px;
    }
    .blog-article-details {
        margin-bottom: 54px;
    }
    .sidebar {
        margin-top: 50px;
        padding-left: 20px;
    }
    /*  BLOG SINGLE  */
    .comment-nested {
        margin-left: 0px;
    }
    .comment-img {
        width: 100%;
        display: block;
    }
    .media-object {
        margin-left: 20px;
    }
    /* Top bar */
    ul.top-info {
        text-align: center;
    }
    .top-social {
        text-align: center;
        margin-top: 5px;
    }
    /* Header */
    .navbar-header {
        float: left;
    }
    .logo {
        text-align: center;
        padding-left: 15px;
    }
    .logo img {
        width: 180px !important;
        background-size: contain !important;
    }
    .logo-area {
        padding: 40px 0;
    }
    .logo-area .logo {
        padding-bottom: 40px;
    }
    ul.top-info-box {
        float: none;
    }
    ul.top-info-box li {
        float: none;
        margin-left: 40px !important;
    }
    ul.top-info-box li .info-box {
        margin-bottom: 15px;
    }
    ul.top-info-box li .info-box.last {
        margin-bottom: 0;
    }
    ul.top-info-box>li.nav-search {
        display: none;
    }
    /* Navigation */
    .site-nav-inner {
        width: 100%;
    }
    .navbar-collapse {
        width: 100%;
    }
    ul.navbar-nav>li:hover>a:after,
    ul.navbar-nav>li.active>a:after {
        content: '';
    }
    .dropdown-menu li a {
        color: #fff;
    }
    .navbar-nav .open .dropdown-menu>li {
        padding-left: 0;
    }
    .navbar-nav .open .dropdown-menu>li>a,
    .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 10px 10px;
    }
    ul.navbar-nav>li {
        display: block;
        padding-left: 30px;
    }
    ul.navbar-nav>li:first-child {
        padding-left: 30px;
    }
    ul.navbar-nav>li.nav-search,
    ul.navbar-nav>li.header-get-a-quote {
        display: none;
    }
    ul.navbar-nav {
        width: 100%;
        padding: 0 0 10px;
    }
    ul.navbar-nav li {
        float: none;
    }
    ul.navbar-nav li a {
        line-height: normal !important;
        padding: 10px 0 !important;
        color: #333;
        border-top: 1px solid #f1f1f1 !important;
        border-bottom: 0;
    }
    ul.navbar-nav .dropdown-menu {
        float: none;
        position: relative;
        border: 0;
        margin: 0;
        padding: 0;
    }
    ul.navbar-nav .dropdown-menu li a {
        padding-left: 20px!important;
        background: none !important;
    }
    ul.navbar-nav li.dropdown ul.dropdown-menu li.dropdown-submenu .dropdown-menu {
        left: 0;
        position: relative;
    }
    ul.navbar-nav li.dropdown ul.dropdown-menu li.dropdown-submenu .dropdown-menu a {
        padding-left: 50px;
    }
    ul.navbar-nav li.dropdown ul.dropdown-menu li.dropdown-submenu a i {
        margin-top: -22px;
    }
    ul.navbar-nav li.dropdown ul.dropdown-menu li.dropdown-submenu .dropdown-menu li a {
        padding-left: 35px!important;
    }
    ul.navbar-nav .dropdown-menu {
        box-shadow: none;
        border-top: 0;
        background: none;
    }
    ul.navbar-nav li a i,
    .dropdown-submenu>a:after {
        background: #f5f5f5;
        float: right;
        width: 36px;
        height: 28px;
        line-height: 28px;
        margin-top: -5px;
        text-align: center;
    }
    .dropdown-submenu>a:after {
        margin-right: 0;
    }
    /* Navstyle box */
    .nav-style-boxed .site-navigation .container {
        height: 60px;
    }
    .nav-style-boxed .site-navigation .container,
    .nav-style-boxed .site-navigation.navbar-fixed .container,
    .nav-style-boxed boxed-full .site-navigation.navbar-fixed .container {
        bottom: 0;
        padding-right: 0;
        padding-left: 0;
    }
    .nav-style-boxed .navbar-collapse {
        background: #fff;
    }
    .nav-style-boxed ul.navbar-nav>li>a {
        color: #333;
    }
    .nav-style-boxed ul.navbar-nav>li {
        padding: 0 60px 0 30px;
    }
    /* Header white */
    .header-white .logo {
        text-align: left;
        min-height: 80px;
        padding-left: 20px;
    }
    .header-white .logo img {
        width: 145px !important;
        background-size: contain !important;
        background-repeat: no-repeat;
    }
    .navbar-toggle {
        position: absolute;
        top: 0;
        right: 20px;
        margin-top: 25px;
        z-index: 1;
    }
    .header-white .navbar-collapse {
        margin-top: 15px;
    }
    .header-white ul.navbar-nav>li>a {
        line-height: 20px;
        padding-left: 25px;
    }
    .header-white ul.navbar-nav>li:hover>a,
    .header-white ul.navbar-nav>li.active>a {
        color: #fce329;
    }
    /* Navigation */
    /* Slideshow */
    #main-slide .item,
    .page-slider .item {
        min-height: 450px;
        background-position: 70% 50%;
    }
    #main-slide .slider-content {
        width: 90%;
    }
    #main-slide .slider-content.text-left {
        left: 5%;
    }
    #main-slide .slider-content.text-right {
        right: 5%;
    }
    .slide-title-box {
        font-size: 12px;
        line-height: 29px;
    }
    .slide-title {
        font-size: 16px;
        line-height: 24px;
    }
    .slide-sub-title {
        font-size: 26px;
        line-height: 30px;
    }
    .slider-description.lead {
        font-size: 14px;
    }
    .slider.btn {
        font-size: 10px;
        padding: 10px 15px;
    }
    .navbar-toggle i {
        color: #fff;
    }
}