/*
    Template Name: Bizcafe-Multipurpose business template
    Author: Dreambuzz
    Author URI: 
    Description: business,agency,modern,clean,resposnive,multipurpose,bootstrap3,unique,premium,elegant
    Version: 1.0
*/


/* Table of Content
==================================================
1.  Global Styles
2.  Typography
3.  Common styles
4.  Navigation
5.  HEADER AREA
6.  SECTION ABOUT
7.  SECTION FEATURES
8. SECTION TESTIMONIAL
9. SECTION CONTACT
10. SECTION FOOTER


/*========================================
	Google font
==================================================*/

@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,700,700i,800|PT+Sans:300,400,600,700,300|Hind:300,300i,400,400i,500,500i,700,700i');
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont3e6e.eot?v=4.7.0');
    src: url('../fonts/fontawesome-webfontd41d.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont3e6e.html?v=4.7.0') format('woff2'), url('../assets/fonts/fontawesome-webfont3e6e.html?v=4.7.0') format('woff'), url('..fonts/fontawesome-webfont3e6e.html?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont3e6e.svg?v=4.7.0#fontawesomeregular') format('svg');
}

html,
input[type="search"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

.btn:active,
.btn.active,
.progress,
.panel {
    -webkit-box-shadow: none;
    box-shadow: none;
}


/**
 * # default
 * ---------------------------------------------------------
 */

body {
    line-height: 24px;
    font-weight: 400;
    font-family: 'Hind', sans-serif;
    font-size: 14px;
    color: #999999;
}

html,
body {
    width: 100%;
    height: 100%;
}

p {
    margin-top: 0;
    padding-left: 0px;
}

ol,
ul,
dl,
pre,
blockquote {
    margin-top: 0;
    padding-left: 0px;
}

ol ol,
ul,
ul ul,
ol ul,
ul ol {
    margin-bottom: 0;
}

li {
    list-style-type: none;
    padding-left: 0px;
}


/* ---Typhography--- */

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Raleway', sans-serif;
    color: #303030;
    font-weight: 700;
}

h1 {
    font-size: 48px;
    line-height: 56px;
}

h2 {
    font-size: 30px;
    line-height: 34px;
}

h3 {
    font-size: 26px;
    line-height: 28px;
}

h4 {
    font-size: 18px;
    line-height: 24px;
}

h5 {
    font-size: 14px;
    line-height: 22px;
}

h6 {
    font-size: 10px;
    line-height: 24px;
}

.lg-title {
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;
    color: #000;
}

a,
a:focus,
a:hover,
a:active {
    text-decoration: none;
    color: #2395ec;
}

p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
}


/* ---Typhography Responsive--- */

@media(max-width:840px) {
    .title-lg {
        font-size: 48px;
        line-height: 62px;
    }
}

embed,
iframe,
object,
video {
    max-width: 100%;
}

img {
    height: auto;
    max-width: 100%;
}


/**
 * # component
 * ---------------------------------------------------------
 */

.btn {
    font-size: 13px;
    line-height: 24px;
    text-transform: uppercase;
    border-radius: 0px;
    padding: 16px 28px;
    font-weight: 800;
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    font-family: "Raleway", sans-serif;
}

.bizcafe-btn {
    color: #fff;
    background-color: #2395ec;
    border-color: #2395ec;
}

.bizacafe-black {
    color: #303030;
    background-color: transparent;
    border: 3px solid #303030;
    padding: 13px 28px;
}

.bizacafe-black.feature {
    color: #fff;
    background-color: #2395ec;
    border-color: #2395ec;
}

.btn i {
    margin-left: 13px;
}

.bizcafe-btn i {
    margin-left: 9px;
}

.form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
    font-weight: 400;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background-color: transparent;
    padding-left: 25px;
}

.form-control:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control::-webkit-input-placeholder {
    color: #777777;
}

.form-control::-moz-placeholder {
    color: #777777;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #777777;
}

.form-control {
    border-color: rgba(0, 0, 0, 0.04);
    background-color: transparent;
}

.input-group-shadow {
    -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.12);
}

input,
textarea {
    border: 1px solid #e5e5e5;
}


/*-------------------------------------
		COMMON SECTION STYLES
----------------------------------------*/

.bizcafe-content-padding {
    padding: 100px 0px;
}

.section-header {
    margin-bottom: 80px;
}

.section-header span {
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #999999;
    margin: 0px;
    text-transform: uppercase;
}

.section-header h2 {
    color: #303030;
    font-weight: 800;
    margin: 15px 0px;
}

.section-header hr {
    width: 42px;
    height: 1px;
    background: #2395ec;
    margin: 15px auto;
    position: relative;
}

.section-header hr:after {
    width: 20px;
    height: 1px;
    background: #2395ec;
    position: absolute;
    content: "";
    content: "";
    top: -5px;
    margin: 0 auto;
    left: 24%;
}

.spacer {
    height: 103px;
}

.grey-bg {
    background: #fafafa;
}

.read-more {
    font-family: "Raleway", sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 800;
    text-transform: uppercase;
    color: #2395ec;
}

.read-more i {
    margin-left: 10px;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background: #babec5;
    opacity: .86;
    top: 0px;
    left: 0px;
}

.overlay.feature {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background: #2395ec;
    opacity: .90;
    top: 0px;
    left: 0px;
}

.no-padding {
    padding: 0px;
}


/*-------------------------------------
		IMAGE AREA
----------------------------------------*/


/*-------------------------------------
	HEADER TOP AREA
----------------------------------------*/

#header-top-area {
    background: #2395ec;
    color: #fff;
    padding: 20px 0px;
    font-weight: 600;
    position: relative;
}

.top-contact li {
    padding-right: 50px;
    font-family: "PTSans", sans-serif;
    font-size: 13px;
    line-height: 18px;
}

.top-contact li i {
    margin-right: 15px;
    color: #000;
}

.top-social li a {
    color: #fff;
    margin-left: 8px;
}


/*-------------------------------------
	HEADER MENU AREA
----------------------------------------*/

.navbar {
    border: 0px!important;
    -webkit-box-shadow: 0px 0px 1px 0px #eee;
    box-shadow: 0px 0px 1px 0px #eee;
}

.navbar-default {
    background: #fff;
    margin-bottom: 0px;
    bottom: 0px;
    border-radius: 0px;
}

.navbar-brand {
    margin-top: 19px;
}

.navbar-default li a {
    font-family: "Raleway", sans-serif;
    padding: 45px 15px;
    font-size: 13px;
    line-height: 18px;
    font-weight: 700;
    color: #000!important;
    text-transform: uppercase;
}

.navbar-nav {
    margin-right: 25px;
}

.navbar-default li a:hover {
    color: #2395ec!important;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>a:hover,
.navbar-default .navbar-nav>.active>a:hover {
    background: transparent;
    border-bottom: 2px solid#2395ec;
    position: relative;
    color: #2395ec!important;
}

.navbar-default .navbar-nav>.active>a:after,
.navbar-default .navbar-nav>.active a:hover:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #2395ec;
    bottom: 0px;
    left: 45%;
}


/* DROPDOWN MENU*/

.navbar-default li.dropdown ul li a {
    font-family: "Raleway", sans-serif;
    padding: 22px 26px;
}

.dropdown-submenu {
    position: relative;
    -webkit-transition: ;
    -o-transition: ;
    transition: all .3s ease;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    border-radius: 0;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: "\f105";
    font-family: FontAwesome;
    float: right;
    margin-top: 0;
    margin-right: -5px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

@media (min-width: 768px) {
    ul.nav li.dropdown:hover ul.dropdown-menu {
        display: block;
    }
    ul.nav li.dropdown:hover ul.dropdown-menu li.dropdown-submenu ul.dropdown-menu {
        display: none;
    }
    ul.nav li.dropdown ul.dropdown-menu li.dropdown-submenu:hover ul.dropdown-menu {
        display: block;
    }
}

.dropdown-menu {
    text-align: left;
    background: #fff;
    z-index: 100;
    min-width: 200px;
    border-radius: 0;
    border: 0;
    -webkit-transition: ;
}

.dropdown-menu-large {
    min-width: 400px;
}

.dropdown-menu-large>li>ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.dropdown-menu-large>li>ul>li>a {
    padding-left: 0;
}

.dropdown-menu-large>li>ul>li.active>a {
    color: #1bbc9b;
}

.navbar-nav>li>.dropdown-menu a {
    background: none;
}

.dropdown-menu li a {
    display: block;
    line-height: normal;
    text-decoration: none;
    padding: 15px 20px;
    color: #090909;
    text-transform: uppercase;
}

.dropdown-menu li:last-child>a {
    border-bottom: 0;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>.dropdown-menu>.active>a {
    background: none;
    color: #1bbc9b;
}

.dropdown-menu li a:hover,
.dropdown-menu li a:focus {
    color: #1bbc9b;
}


/*--------------------*/

.search-box-outer {
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -8px;
    border-left: 1px solid #cccccc;
    width: 41px;
    height: 16px;
}

.search-box-outer {
    border: none;
}

.search-box-btn {
    position: relative;
    display: block;
    width: 100%;
    font-size: 14px;
    text-align: center;
    line-height: 17px !important;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
    color: #777777;
    background: none;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    border: 0px;
}

.search-box-btn {
    color: #ffffff;
    color: #000;
}

.search-box-btn:hover {
    color: #2395EC;
}

.search-box-outer .dropdown-menu {
    top: 52px;
    border-top: 3px solid #2395EC;
    padding: 0px;
    width: 280px;
    border-radius: 0px;
}

.search-box-outer .dropdown-menu>li {
    padding: 0px;
    border: none;
    background: none;
}

.search-panel .form-container {
    padding: 25px 20px;
}

.search-panel .form-group {
    position: relative;
    margin: 0px;
}

.search-panel input[type="text"],
.search-panel input[type="search"],
.search-panel input[type="password"],
.search-panel select {
    display: block;
    width: 100%;
    line-height: 24px;
    padding: 7px 40px 7px 15px;
    height: 40px;
    font-size: 14px;
    color: #333333;
    border: 1px solid #e0e0e0;
    background: #ffffff;
}

.search-panel input:focus,
.search-panel select:focus {
    border-color: #2395EC;
    border: 1px solid #eee;
}

.search-panel .search-btn {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 40px;
    height: 40px;
    text-align: center;
    color: #333333;
    font-size: 12px;
    background: none;
    cursor: pointer;
    border: 1px solid #eee;
}

.site-navigation {
    border-radius: 0px;
}

.navbar-fixed {
    z-index: 99999;
    position: fixed;
    opacity: .98;
    width: 100%;
    top: 0;
    -webkit-animation: fadeInDown 800ms;
    -moz-animation: fadeInDown 800ms;
    -ms-animation: fadeInDown 800ms;
    -o-animation: fadeInDown 800ms;
    animation: fadeInDown 800ms;
    -webkit-backface-visibility: hidden;
    border-radius: 0px;
}


/*-------------------------------------
	BANNER SLIDER AREA
----------------------------------------*/

.homepage-slider {
    background: #000;
    background-position: center;
    overflow: hidden;
    height: 100%;
}

.slider-carousel .item {
    background-position: 50% 50%;
    -webkit-background-size: cover!important;
    background-size: cover!important;
    -webkit-backface-visibility: hidden;
}

.banner-img-bg {
    background: url("../img/slider/slider-bg.jpg") center center;
    -webkit-background-size: cover;
    background-size: cover;
}

.slider-item-box {
    padding-top: 120px;
}

.slider-content-box {
    padding: 50px 0px 90px 0px;
    text-align: left;
}

.slider-content-box p {
    font-size: 22px;
    line-height: 30px;
    font-weight: 400;
    font-family: 'Hind', sans-serif;
    padding-right: 130px;
    margin: 34px 0px;
}

.slider-img img {
    z-index: 1;
    bottom: 0px;
    margin-left: -90px;
}

.slider-right-img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 46%;
    top: 5%;
}

.slider-img p {
    float: left;
    display: inline-block;
    width: 80%;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
    font-family: 'fontAwesome';
}

.owl-carousel .owl-nav .owl-prev:before {
    content: "\f104";
    margin-right: 10px;
}

.owl-carousel .owl-nav .owl-next:after {
    content: "\f105";
    margin-right: 10px;
}

.owl-controls {
    position: absolute;
    width: 107% !important;
    top: 50% !important;
    margin: 0 -3.5% !important;
}

.owl-nav {
    top: 50%;
    position: absolute;
    width: 100%;
}

.owl-nav .owl-next {
    float: right;
    left: auto;
    right: 0px;
}

.owl-nav .owl-prev {
    /* right arrow */
    float: left;
}

.owl-nav .owl-next,
.owl-nav .owl-prev {
    width: 50px;
    height: 50px;
    background: #000;
    font-size: 22px;
    padding-top: 10px;
    opacity: .30;
    text-align: center;
}

.owl-item {
    opacity: 0;
    transition: all 0.9s cubic-bezier(0.7, 0, 0.3, 1) 0s;
}

.owl-item.active {
    opacity: 1;
    transition: opacity 0.9s cubic-bezier(0.7, 0, 0.3, 1) 0.5s;
}

.delay-1 {
    animation-delay: .5s;
}

.delay-2 {
    animation-delay: .5s;
}

.delay-3 {
    animation-delay: 1s;
}

.delay-4 {
    animation-delay: 1s;
}

.owl-nav .owl-next:hover,
.owl-nav .owl-prev:hover {
    background: #2395EC;
    opacity: 1;
    color: #fff;
}


/*-------------------------------------
	FEATURE AREA STYLES
----------------------------------------*/

.feature-content-box {
    text-align: center;
}

.feature-content-box {}

.feature-content-box h4 {
    margin-bottom: 22px;
    font-weight: 600;
}

.seperator {
    width: 50px;
    height: 1px;
    background: #2395ec;
    margin: 0 auto;
    margin-bottom: 24px;
}

.feature-content-box i {
    font-size: 60px;
    line-height: 26px;
    color: #2395ec;
    margin-bottom: 29px;
}


/*-------------------------------------
	SERVICE AREA STYLES
----------------------------------------*/

.service-content-box {
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.service-content-box:hover h4 {
    color: #2395ec;
}

.service-content-box img {
    width: 100%;
}

.service-content-box h4 {
    margin: 42px 0px 22px 0px;
}

.service-content-box p {
    margin-bottom: 30px;
}


/*-------------------------------------
	WORK SKILL AREA STYLES
----------------------------------------*/


/* Video responsive */

.embed-responsive {
    padding-bottom: 100px;
    position: relative;
    display: block;
    height: 0;
    overflow: hidden;
}

.embed-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.ts-content .ts-padding.right {
    position: relative;
}

.popup.cboxElement {
    display: block;
}

.video-icon {
    text-align: center;
    color: #C2C7CB;
    display: block;
    top: 50%;
    margin-top: 280px;
    font-size: 36px;
    z-index: 1;
    position: absolute;
    left: 46%;
    margin-left: -80px;
}

.video-icon i {
    width: 80px;
    height: 80px;
    line-height: 80px;
    border: 5px solid #C2C7CB;
    display: inline-block;
    border-radius: 100%;
}

.video-icon i {
    line-height: 73px;
    font-size: 22px;
}

.video-icon i:before {
    color: #C2C7CB;
}

.video-icon h5 {
    position: relative;
    top: -10px;
}

.video-icon h4,
.video-icon h5,
.video-icon i {
    color: #fff;
}


/*
------------------------------
	 PROGRESS BAR
-------------------------------
*/

#section-skill .section-header {
    padding-top: 100px;
}

.work-skill .barWrapper {
    margin-bottom: 40px;
}

.work-skill {
    padding: 0px 100px;
}

.work-skill .tooltip {
    position: relative;
    float: right;
}

.work-skill .tooltip>.tooltip-inner {
    background-color: #303030;
    color: #fff;
    font-weight: 600;
    border-radius: 0px;
    font-size: 12px;
    line-height: 14px;
    padding: 8px 12px;
}

.work-skill .popOver+.tooltip>.tooltip-arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #303030;
}

.work-skill .progress {
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    overflow: visible;
    margin-top: 7px;
}

.work-skill .tooltip.top {
    margin-top: -3px;
    padding: 4px 0;
}

.work-skill .progressText b {
    color: #303030;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
}

.work-skill .progress-bar {
    background: #2395ec none repeat scroll 0 0;
    transition: width 1.5s ease-in-out;
    -moz-transition: width 1.5s ease-in-out;
    -ms-transition: width 1.5s ease-in-out;
    -o-transition: width 1.5s ease-in-out;
    -webkit-transition: width 1.5s ease-in-out;
    border-radius: 20px !important;
}

.work-skill .progress {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    overflow: visible;
    margin-top: 7px;
    border-radius: 20px !important;
}

.progress {
    height: 5px!important;
}


/*-------------------------------------
	PROCESS AREA STYLES
----------------------------------------*/

#section-process {
    background: url("../img/bg/process-bg.jpg") center center;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
}

.process-step-content {
    padding: 100px 70px;
}

.process-step-content p {
    padding: 25px 0px;
    color: #101010;
    font-weight: 400;
}

.step-bg-1 {
    background: #fcfcfe;
    opacity: .75;
}

.step-bg-2 {
    background: #f8f7f7;
    opacity: .65;
}

.step-bg-3 {
    background: #2395ec;
}

.step-bg-3 .process-step-content h3 {
    color: #fff;
}

.step-bg-3 .process-step-content p {
    color: #fff;
}

.step-bg-3 .process-step-content .btn {
    border-color: #fff;
    color: #fff;
}

.step-bg-1,
.step-bg-2 {
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.step-bg-1:hover,
.step-bg-2:hover {
    opacity: 1;
}

.step-bg-1:hover .btn,
.step-bg-2:hover .btn {
    border-color: #2395ec;
    color: #2395ec;
}


/*-------------------------------------
	TESTIMONIAL AREA STYLES
----------------------------------------*/

#section-testimonial {
    position: relative;
}

#section-testimonial .section-header {
    margin-bottom: 75px;
}

.testimonial-content-block {
    background: #fafafa;
    padding: 60px 60px;
    position: relative;
}

.testimonial-content-block i {
    float: left;
}

.testimonial-content-block p {
    padding-left: 30px;
    font-weight: 400;
    color: #969696;
}

.testimonial-content-block:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-top: 25px solid #d1d1d1;
    border-left: 40px solid transparent;
    bottom: -24px;
    left: 0px;
}

.testimonial-thumb {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    float: left;
    margin-right: 20px;
    background: #fafafa;
}

.client-info-block {
    margin-top: 45px;
}

.inner-info {
    padding-top: 5px;
}

.inner-info h4 {
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 1px;
    color: #2395ec;
}

.inner-info h4 span {
    display: block;
    font-size: 12px;
    color: #969696;
}

.carousel-control {
    top: 27%;
    width: 0px!important;
    opacity: 1;
}

.carousel-control span {
    width: 40px;
    height: 40px;
    background: #fafafa;
    text-align: center;
    padding-top: 7px;
}

.carousel-control.left,
.carousel-control.right {
    background: none;
    text-shadow: none;
    color: #969696;
}

.carousel-control.left {
    margin-left: -20px;
    left: -40px;
}

.carousel-control.right {
    margin-right: -20px;
}


/*-------------------------------------
	PRTFOLIO AREA STYLES
----------------------------------------*/

.portfolio-caption {
    display: block;
}

.portfolio-content-block {
    padding: 0px;
    margin: 0px;
    position: relative;
    display: block;
}

.portfolio-content-block img {
    width: 100%;
    height: 260px;
    display: block;
    max-height: 260px;
}

.hover-overlay .portfolio-caption {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.hover-overlay .portfolio-caption p {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.hover-overlay .portfolio-caption h5 {
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.hover-overlay .portfolio-caption {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: #2395ec;
    text-align: center;
    cursor: pointer;
    left: 0px;
    opacity: 0;
    top: 0px;
}

.hover-overlay .portfolio-caption h5 {
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    text-transform: capitalize;
    margin-bottom: 0px;
    position: absolute;
    top: 0px;
    left: 20%;
}

.hover-overlay .portfolio-caption p {
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 11px;
    line-height: 24px;
    position: absolute;
    top: -50px;
    left: 32%
}

.hover-overlay .portfolio-caption:hover {
    opacity: .90;
}

.hover-overlay .portfolio-caption:hover p {
    top: 55%;
}

.hover-overlay .portfolio-caption:hover h5 {
    top: 40%;
}

.hover-overlay .portfolio-caption:after {
    position: absolute;
    right: 20px;
    bottom: 10px;
    color: #fff;
    content: "\f067";
    font-family: "FontAwesome";
}

.hover-overlay .portfolio-caption:before {
    position: absolute;
    content: "";
    background: #000;
    right: -79px;
    border: 0px;
    width: 167px;
    height: 95px;
    bottom: -44px;
    transform: rotate(136deg);
}


/*----------------------------------------
	 SECTION COUNTDOWN STYLES 
----------------------------------------*/

#section-counter {
    background: url("../img/bg/counter-bg.jpg") center center;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    padding: 100px 0px 80px 0px;
    text-align: center;
}

#section-counter span {
    font-size: 48px;
    font-weight: 700;
    line-height: 30px;
    color: #fff;
}

#section-counter p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color: #fff;
}


/*----------------------------------------
	 SECTION TEAM MEMBER STYLES 
----------------------------------------*/

.team-content-block,
.team-hover-content {
    -webkit-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
    overflow: hidden;
}

.team-content {
    text-align: center;
}

.team-content h5 {
    font-size: 16px;
    line-height: 28px;
    color: #2395ec;
}

.team-content h5 span {
    display: block;
    font-size: 12px;
    line-height: 20px;
    color: #969696;
}

.team-inner-content {
    position: relative;
}

.team-hover-content {
    background: #2395ec;
    opacity: .95;
    padding: 54px 25px;
    position: absolute;
    content: "";
    bottom: -10px;
    left: 0px;
    opacity: 0;
    overflow: hidden;
}

.team-content-block:hover .team-hover-content {
    bottom: 0px;
    opacity: .95;
}

.team-content-block:hover .team-content {
    opacity: 0;
}

.team-hover-content h4 {
    color: #fff;
}

.team-hover-content p {
    color: #000;
    margin: 30px 0px;
}

.team-hover-content h4 span {
    display: block;
    font-size: 12px;
    line-height: 20px;
    color: #000;
}

.team-hover-content {
    text-align: center;
}


/*-------------------*/

.team-content {
    margin-top: 20px;
}

.team-content .team-social li a {
    background: #2995e8;
}

.team-content .team-social li a i {
    color: #fff;
}

.team-content .team-social {
    margin-top: 20px;
}

.team-social li a {
    width: 30px;
    height: 30px;
    background: #fff;
    display: inline-block;
    padding-top: 5px;
    transform: rotate(45deg);
    margin-left: -13px;
    text-align: center;
}

.team-social li a i {
    font-size: 14px;
    transform: rotate(-45deg);
}


/*----------------------------------------
	 SECTION BLOG NEWS STYLES 
----------------------------------------*/

.blog-widget {
    margin-bottom: 30px;
    position: relative;
}

.inner-box {
    position: relative;
    display: block;
    background: #fff;
}

.blog-thumb {
    position: relative;
    padding: 0px;
}

.blog-thumb img {
    width: 100%;
}

.blog-content {
    padding: 42px 45px;
    position: relative;
}

.blog-content h5 {
    letter-spacing: 1px;
}

.blog-content p {
    margin: 25px 0px;
}

.post-cat li {
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
}

.blog-list li i {}

.blog-date {
    position: absolute;
    background: #2395ec;
    color: #fff;
}

.blog-date {
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    padding: 13px 15px;
}

.blog-date span {
    font-size: 24px;
    line-height: 14px;
    font-weight: 800;
    display: block;
}

.blog-date.right-top {
    top: 0px;
    right: 0px;
}

.blog-date.btm-left {
    bottom: 0px;
}

.blog-date.left-top {
    top: 0px;
}

.p60 {
    padding: 60px 40px;
}

#section-blog .btn {
    margin-top: 50px;
}


/* ------------------------------
	SECTION CLIENT STYLES
--------------------------*/

#section-client {
    padding: 105px 0px;
}

.client-thumb {
    margin-bottom: 20px;
}


/* ------------------------------
	SECTION FOOTER STYLES
------------------------------------*/

.black-bg {
    background: #313131;
}

.widget-title {
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 45PX;
}

.widget-content p,
.widget-content a {
    color: #999999;
}


/* ---- Widget LOgo -----*/

.widget-logo p {
    margin: 25px 0px;
}

.footer-social li a {
    color: #bbbbbb;
    font-size: 18px;
    line-height: 22px;
    margin-right: 12px;
}


/* ---- Widget POSTs -----*/

.widget-post {}

.widget-post .widget-content,
.widget-post .widget-content .text h5 {
    color: #fff;
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 16px;
}

.widget-post .text p.comment {
    display: inline-block;
}

.widget-post .widget-content .date {
    float: left;
    width: 38px;
    height: 46px;
    border: 2px solid#fff;
    text-align: center;
    text-transform: uppercase;
    line-height: 18px;
    padding-top: 5px;
    margin-right: 20px;
}

.widget-post .widget-content .date span {
    display: block;
    font-weight: 700;
}

.widget-post .widget-content .text {}


/* ---- Widget contact -----*/

.widget-contact .widget-content li {
    margin-bottom: 26px;
}

.widget-contact .widget-content li i {
    float: left;
    margin-right: 20px;
    font-size: 18px;
    padding-top: 3px;
}

.widget-contact .widget-content li p {
    margin-left: 30px;
}


/*------------------------------
	 FOOTER BOTTOM STYLES
-----------------------------*/

.pure-black-bg {
    background: #191919;
}

#section-footer-btm {
    padding: 34px 0px;
    color: #999999;
    font-weight: 500;
}

#section-footer-btm p span {
    color: #2294eb;
}

.footer-menu li a {
    color: #999999;
}


/* ------------------------------
	Preloader  
--------------------------*/

.loader {
    background: none repeat scroll 0 0 #ffffff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.sk-folding-cube {
    left: 50%;
    top: 50%;
    position: absolute;
    margin-top: -30px;
    margin-left: -30px;
    width: 40px;
    height: 40px;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

@keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

@-webkit-keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}


/*-----------------------------------------
	PAGE STYLES START
--------------------------------------------*/

#section-page-header {
    background: url("../img/bg/page-header-bg.jpg") center center;
    -webkit-background-size: cover;
    background-size: cover;
}

#section-page-header.service-bg {
    background: url("../img/bg/service.jpg") center center;
    -webkit-background-size: cover;
    background-size: cover;
}

#section-page-header.portfolio-bg {
    background: url("../img/bg/portfolio-bg.jpg") center center;
    -webkit-background-size: cover;
    background-size: cover;
}

.page-header {
    border: 0px;
    padding: 80px 0px 90px 0px;
    color: #fff;
}

.page-header h6,
.page-header h2 {
    color: #fff;
}

.page-header h2 {
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "PT Sans", sans-serif;
}

.page-header h3 {
    font-size: 42px;
    line-height: 52px;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
}


/*   ABOUT PAGE */

.work-warp {}

.work-warp p {
    margin: 40px 0px;
}

.work-warp .btn {
    margin-top: 35px;
}

.work-warp li h5 i {
    margin-right: 10px;
}

.page-skill {
    margin-top: 70px;
}


/*------------------------------
	 SECTION ABOUT FEATURE
----------------------------*/

.page-feature-wrap {
    background: #000;
    padding: 115px 70px 0px 90px;
}

.page-feature-block {
    margin-bottom: 116px;
}

.page-feature-block p {
    color: #999999;
    margin-left: -25px;
    padding-right: 65px;
}

.page-icon-block {
    margin-bottom: 25px;
}

.page-icon-block h5 {
    font-size: 15px;
    color: #fff;
}

.page-icon-block i {
    float: left;
    margin-right: 10px;
    color: #2395ec;
    font-size: 26px;
    line-height: 24px;
}

.page-feature-content {
    position: relative;
}

.page-feature-content span {
    position: absolute;
    color: #babec5;
    content: "";
    font-size: 200px;
    line-height: 24px;
    bottom: 50px;
    left: -30px;
    opacity: .1;
    font-weight: 500;
}


/*-------------------------------
	PAGE PORTFOLIO START
----------------------------------*/

.page-portfolio {
    background: #f0f0f0;
}

.portfolio-block-wrap .portfolio-content-block img {
    height: auto;
}

.portfolio-block-wrap {
    background: #fff;
    margin-bottom: 25px;
}

.portfolio-block-wrap .hover-overlay .portfolio-caption:hover h5 {
    top: 35%;
}

.portfolio-content {
    padding: 30px 35px 30px 35px;
}

.portfolio-content h3 {
    font-size: 20px;
    line-height: 24px;
    color: #000;
    margin: 0px;
}

.portfolio-content h4 {
    color: #969696;
    font-weight: 400;
}

#section-paralax {
    position: relative;
    background: url("../img/bg/paralax-bg.jpg")center center;
    -webkit-background-size: cover;
    background-size: cover;
}

.overlay {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#section-paralax h2 {
    color: #fff;
}

#section-paralax .btn {
    border-color: #fff;
    color: #fff;
}


/*------------------------------
	 BLOG PAGE STYLES
----------------------------*/

#blog-wrapper {
    padding: 100px 0px 100px 0px;
}

#section-page-header.page-blog {
    background: url("../img/bg/blog-bg.jpg") center center;
    -webkit-background-size: cover;
    background-size: cover;
}

#section-page-header.page-contact {
    background: url("../img/bg/contact-bg.jpg") center center;
    -webkit-background-size: cover;
    background-size: cover;
}

.blog-standard {
    /*    margin-bottom: 68px;*/
}

.post-thumbnail img {
    width: 100%;
}

.post-thumbnail {
    position: relative;
}

.post-thumbnail .blog-date.right-top {
    top: 3px;
    right: 2px;
}

.blog-article-details {
    padding-top: 20px;
}

.blog-article-details h4 {
    font-size: 16px;
    margin: 10px 0px;
}

.blog-article-details p.post-comments a {
    color: #969696;
    text-transform: capitalize;
    margin-right: 10px;
    letter-spacing: 2px;
    font-size: 14px;
}

.blog-article-details p.post-comments a i {
    color: #2395ec;
    margin-right: 10px;
}

.blog-article-details p {
    font-size: 13px;
    line-height: 22px;
}

.blog-article-details a.read-more {
    margin-top: 30px;
    display: block;
}


/*Pagination*/

.pagination {
    margin: 0px;
}

.pagination li {
    border-color: #e5e5e5;
}

.pagination li a {
    margin-right: 5px;
    padding: 15px 24px;
    font-size: 18px;
    line-height: 22px;
    color: #999999;
    font-weight: 500;
}

.pagination>li:first-child>a,
.pagination>li:last-child>a {
    border-radius: 0px!important;
}

.pagination>.active>a {
    background: #2395ec;
    border-color: #2395ec;
}


/* ---------------------------------
    SIDEBAR WIDGET
---------------------------*/

.sidebar {
    padding-left: 30px;
}

.widget .widget-title {
    color: #303030;
}

.search-widget .form-group {
    position: relative;
}

.search-widget input {
    border-radius: 0px;
    border-color: #e5e5e5;
    height: 56px;
}

.search-widget .form-group i {
    float: right;
    position: absolute;
    content: "";
    top: 20px;
    right: 20px;
    color: #000;
}

.widget .widget-title {
    margin-top: 70px;
    position: relative;
    padding-bottom: 15px;
}

.widget .widget-title:after {
    position: absolute;
    content: "";
    left: 0px;
    bottom: 0px;
    height: 3px;
    background: #eee;
    width: 100%;
}

.widget .widget-title:before {
    position: absolute;
    content: "";
    left: 0px;
    bottom: 0px;
    height: 3px;
    background: #2395ec;
    width: 50px;
    z-index: 2;
}


/* Menu Widget */

.menu-widget li {
    border-bottom: 1px solid#e5e5e5;
    padding: 20px 0px;
}

.menu-widget a {
    color: #777777;
    font-size: 14px;
    line-height: 24px;
}


/*  Popular POST WIDGET */

.recent-widget {}

.small-post-thumbnail {
    float: left;
    margin-right: 15px;
}

.post-list.media {
    margin-top: 30px;
}

.post-title {
    color: #303030;
    font-weight: 600;
    line-height: 16px;
    display: block;
}

.post-date {
    color: #2395ec;
    text-transform: uppercase;
    font-weight: 600;
}


/* Social widget */

.widget-social {}

.post-subscribe a {
    display: block;
    float: left;
    font-size: 18px;
    margin-right: 15px;
}

.post-subscribe a i {
    display: block;
    width: 44px;
    height: 44px;
    padding-top: 13px;
    text-align: center;
    color: #fff;
}

.post-subscribe a i.fa-facebook {
    background: #4c66a4;
}

.post-subscribe a i.fa-skype {
    background: #2395ec;
}

.post-subscribe a i.fa-rss {
    background: #ffa133;
}

.post-subscribe h5 {
    font-family: "Hind", sans-serif;
}

.post-subscribe h5 span {
    font-size: 13px;
    color: #777777;
    display: block;
}


/* WIDGET TAGS  */

.widget-tags {}

.widget-tags a {
    display: inline-block;
    background: #2395ec;
    color: #fff;
    text-align: center;
    font-weight: 600;
    padding: 10px 19px;
    border-radius: 15px;
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 24px;
}


/* -------------------
    BLOG SINGLE STYLES
-------------------------*/

.blog-article-details p {
    color: #777777;
    margin-bottom: 35px;
}

blockquote {
    border-left: 3px solid#2395ec;
    margin: 50px 0px;
    padding: 5px 0px 5px 25px!Important;
}

blockquote h4 {
    font-family: "Hind", sans-serif;
    font-weight: 500;
    font-size: 20px!important;
    line-height: 30px;
    color: #000;
}

.post-share-widget {
    margin: 25px 0px;
}

.post-share-widget h4 {
    font-size: 20px;
    line-height: 22px;
}

.post-share-widget ul {
    float: right;
    margin: 17px 0px;
}

.post-share-widget li a {
    color: #303030;
}


/* COMMENT SECTION */

.blog-comments {
    margin-top: 35px;
}

.comment-heading {
    font-family: "Hind", sans-serif;
    font-size: 26px;
    line-height: 22px;
}

.comment-img {
    width: 15%;
}

.comment-content li:last-child {
    float: right;
}

.comment-content li {
    font-size: 11px;
    line-height: 24px;
    font-weight: 500;
    color: #969696;
}

.comment-content li i {
    margin-right: 5px;
}

.comment-content li h4 {
    margin-bottom: 10px;
}

.comment-content li:last-child i {
    margin-left: 10px;
}

.comment-wrap {
    margin: 40px 0px;
}

.comment-content {
    background: #fafafa;
    padding: 30px 30px;
    border-radius: 0px;
}

.meadia-body {
    border-radius: 0px;
}

.comment-nested {
    margin-left: 100px;
}


/* LEAVE A COMMENT SECTION */

.blog-form {
    margin-top: 90px;
}

.blog-form label {
    font-weight: 500;
}

.blog-form .form-group {
    margin: 30px 0px 40px 0px;
}

.blog-form .slider-btn {
    padding: 12px 40px;
    border-radius: 3px;
}


/*-----------------------------------
     CONTACT PAGE STYLES

----------------------------------*/

#section-contact {
    background: #fbfbfb;
}

.contact-title {
    margin-bottom: 50px;
    font-size: 24px;
    font-weight: 900;
}

.contact-info {
    margin-left: 30px;
}

.contact-info div {
    margin-top: 40px;
}

.contact-info div i {
    float: left;
    margin-right: 20px;
    color: #2395ec;
    font-size: 18px;
}

.contact-info div p {
    color: #999999;
    font-size: 13px;
    line-height: 24px;
}

.form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
    font-weight: 400;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    font-size: 14px;
    height: 50px;
    border-radius: 0px;
}

#section-contact .form-control {
    background: #fff;
    border-color: #e8e8e8;
    font-weight: 500;
    color: #303030;
    font-size: 14px;
}

#section-contact .form-group {
    margin-bottom: 35px;
}

#contactForm .slider-btn {
    border-radius: 0px;
    padding: 12px 40px;
}

#section-page-header {
    position: relative;
}

.overlay.black {
    background: rgba(0, 0, 0, 8);
}

.marker {
    width: 70px;
    height: 70px;
}


/*===================================
    HOME 2
====================================*/

.banner-img-bg2 {
    background: url("../img/bg/intro4.jpg") center center;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
}

.slider-2 {
    width: 70%;
    margin: 0 auto;
}

.slider-2 {
    padding: 50px 0px 150px;
}

.slider-2 h1 {
    font-weight: 800;
    color: #fff;
}

.slider-2 p {
    font-size: 18px;
    margin: 25px 0px;
    color: #eee;
}

.overlay.grey {
    background: rgba(0, 0, 0, 0.6);
}


/* ---------------------------
    FEATURE HOME 2 
=-----------------------*/

#section-feature.bizcafe-content-padding {
    padding-bottom: 70px;
}

.feature-inner span {
    text-transform: uppercase;
    color: #222;
    margin-bottom: 0px;
}

.feature-inner h2 {
    margin-top: 10px;
}

.feature-inner h4 {
    font-weight: 400;
    color: #6a6a6a;
    margin: 20px 0px;
    line-height: 28px;
}

.feature-inner p {
    font-size: 16px;
    line-height: 26px;
    color: #6a6a6a;
}

.feature-block-wrap {
    margin-bottom: 40px;
}

.feature-block {
    padding-left: 70px;
}

.icon-block {
    float: left;
    font-size: 30px;
    margin-right: 20px;
    color: #2395ec;
}

.icon-block i {
    font-size: 50px;
    line-height: 50px;
}

.feature-block h4 {
    font-weight: 800;
    font-size: 20px;
    line-height: 20px;
    margin-top: 10px;
}

.feature-block p {
    color: #6a6a6a;
}

.slider-btn:hover {
    background: #111;
    border-color: #111;
    color: #fff;
}


/*-------------------------
     HOME 4
-----------------------------*/


/* Top Bar
================================================== */

.top-bar .container {
    padding: 8px 20px 8px;
    background: #2395ec;
    position: relative;
}

.top-bar .container:before {
    content: '';
    width: 0;
    height: 0;
    border-bottom: 20px solid #fff;
    border-right: 20px solid rgba(0, 0, 0, 0);
    background: none;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}


/* Top info */

ul.top-info {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: 600;
}

ul.top-info li {
    position: relative;
    line-height: 10px;
    display: inline-block;
    margin-left: 0;
    padding-right: 15px;
}

ul.top-info li i {
    font-size: 18px;
    position: relative;
    top: 2px;
    margin-right: 5px;
}

ul.top-info li p.info-text {
    margin: 0;
    line-height: normal;
    display: inline-block;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}


/* Top social */

.top-social ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.top-social li {
    display: inline-block;
    padding: 0;
}

.top-social li a {
    color: #fff;
    margin-right: 15px;
    font-size: 14px;
    -webkit-transition: 400ms;
    -moz-transition: 400ms;
    -o-transition: 400ms;
    transition: 400ms;
}

.top-social li a:hover {
    color: #333;
}


/* Top bar border */

.top-bar-border {
    padding: 8px 20px 8px;
    border-bottom: 1px solid #ddd;
}

.top-bar-border ul.top-info {
    color: #7c7c7c;
    font-weight: 400;
}

.top-bar-border .top-social li a {
    color: #7c7c7c;
}

.top-bar-border ul.top-info li i {
    color: #2395ec;
}


/* Header area
================================================== */

.header {
    background: #fff;
    position: relative;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
}

.navbar-fixed {
    z-index: 99999;
    position: fixed;
    opacity: .98;
    width: 100%;
    top: 0;
    -webkit-animation: fadeInDown 800ms;
    -moz-animation: fadeInDown 800ms;
    -ms-animation: fadeInDown 800ms;
    -o-animation: fadeInDown 800ms;
    animation: fadeInDown 800ms;
    -webkit-backface-visibility: hidden;
}


/*-- Logo --*/

.logo {
    padding: 28px 0;
}


/* header right */

.header-right {
    float: right;
}

ul.top-info-box {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}

ul.top-info-box li {
    position: relative;
    float: left;
    margin-left: 40px;
}

ul.top-info-box li:first-child {
    margin-left: 0;
}

ul.top-info-box li:first-child:before {
    background: none;
}

ul.top-info-box li .info-box span.info-icon {
    font-size: 20px;
    display: inline-block;
    text-align: center;
    float: left;
    width: 42px;
    height: 42px;
    line-height: 44px;
    border: 1px solid #d3d3d3;
    margin-right: 20px;
    position: relative;
    color: #2395ec;
}

ul.top-info-box li .info-box span.info-icon i {
    margin-left: 5px;
}

ul.top-info-box li .info-box .info-box-content {
    display: inline-block;
    font-family: Montserrat;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

ul.top-info-box li .info-box .info-box-title {
    font-weight: 600;
    color: #303030;
    font-size: 15px;
    margin-bottom: 0;
    line-height: normal;
}

ul.top-info-box li .info-box .info-box-subtitle {
    margin: 0;
    line-height: normal;
    color: #999;
    font-size: 14px;
}


/*-- Search start --*/

ul.top-info-box>li.nav-search {
    cursor: pointer;
    padding-left: 30px;
    margin-left: 30px;
}

ul.top-info-box>li.nav-search:before {
    position: absolute;
    content: '';
    background: #ddd;
    left: 0;
    width: 1px;
    height: 40px;
    top: 50%;
    margin-top: -10px;
}

ul.top-info-box>li.nav-search i {
    font-size: 20px;
    top: 10px;
    position: relative;
    cursor: pointer;
    color: #999;
}


/* Main navigation */

.navbar-toggle {
    float: left;
    margin-top: 10px;
    padding: 12px;
}

.navbar {
    border-radius: 0;
    border: 0;
    margin-bottom: 0;
}

.navbar-toggle {
    float: left;
    margin-top: 10px;
    padding: 12px;
    border-radius: 0;
    margin-right: 5px;
    background: #2395ec;
}

.navbar-toggle .icon-bar {
    background: #fff;
}

.navbar-toggle .i-bar {
    background: #fff;
}

ul.navbar-nav {
    float: left;
    display: inline-block;
}

ul.navbar-nav>li {
    float: none;
    display: inline-block;
}

ul.navbar-nav>li:hover>a,
ul.navbar-nav>li.active>a {
    color: #2395ec;
    position: relative;
}

ul.navbar-nav>li {
    padding: 0 13px;
    position: relative;
}

ul.navbar-nav>li:last-child {
    padding-right: 0;
}

ul.navbar-nav>li:last-child:after {
    background: none;
}

ul.navbar-nav>li>a {
    color: #333;
    text-rendering: optimizeLegibility;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    margin: 0;
    line-height: 40px;
    padding: 30px 0;
    -webkit-transition: 350ms;
    -moz-transition: 350ms;
    -o-transition: 350ms;
    transition: 350ms;
}

ul.navbar-nav>li>a:hover,
ul.navbar-nav>li>a:focus {
    background: none;
}

ul.navbar-nav>li>a i {
    font-weight: 700;
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
    background: transparent;
    border: 0;
}


/* Dropdown */

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -2px;
    border-radius: 0;
}

.dropdown-submenu>a:after {
    display: block;
    content: "\f105";
    font-family: FontAwesome;
    float: right;
    margin-top: 0;
    margin-right: -5px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.dropdown-menu {
    text-align: left;
    background: #fff;
    z-index: 100;
    min-width: 200px;
    border-radius: 0;
    border: 0;
    border-top: 2px solid #2395ec;
    padding: 0 20px;
}

.dropdown-menu-large {
    min-width: 400px;
}

.dropdown-menu-large>li>ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.dropdown-menu-large>li>ul>li>a {
    padding-left: 0;
}

.dropdown-menu-large>li>ul>li.active>a {
    color: #2395ec;
}

.navbar-nav>li>.dropdown-menu a {
    background: none;
}

.dropdown-menu li a {
    display: block;
    text-decoration: none;
    padding: 15px 0;
    border-bottom: 1px solid #e5e5e5;
    color: #333333;
}

.dropdown-menu li:last-child>a {
    border-bottom: 0;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>.dropdown-menu>.active>a {
    background: none;
    color: #2395ec;
}

.dropdown-menu li a:hover,
.dropdown-menu li a:focus {
    color: #2395ec;
}

@media (min-width: 768px) {
    ul.nav li.dropdown:hover ul.dropdown-menu {
        display: block;
    }
}

@media (min-width: 767px) {
    ul.nav li.dropdown ul.dropdown-menu li.dropdown-submenu .dropdown-menu {
        left: 100%;
        top: 0;
        display: none;
    }
    ul.nav li.dropdown ul.dropdown-menu li.dropdown-submenu:hover .dropdown-menu {
        display: block;
    }
}


/*-- Nav Search start --*/

ul.navbar-nav>li.nav-search {
    cursor: pointer;
    padding-left: 25px;
    margin-left: 10px;
}

.nav-search:before {
    position: absolute;
    content: '';
    background: #ddd;
    left: 0;
    width: 1px;
    height: 20px;
    top: 50%;
    margin-top: -10px;
}

.search {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(53, 53, 53, .92);
    display: none;
    z-index: 99;
}

.search .form-control {
    border: 1px solid #fff;
    position: fixed;
    top: 50%;
    left: 25%;
    width: 50%;
    height: 60px;
}

.search .search-close {
    color: #fff;
    position: fixed;
    top: 90px;
    right: 19%;
    font-size: 36px;
    cursor: pointer;
}


/* Get a quote */

.header-get-a-quote .btn-primary {
    padding: 10px 15px;
    font-size: 12px;
    border-radius: 0;
    line-height: normal;
    text-transform: capitalize;
    color: #fff;
}

.header-get-a-quote .btn-primary:hover {
    background: #272d33;
}

ul.navbar-nav>li.header-get-a-quote:hover>a:after {
    position: relative;
    content: no-close-quote;
}

.btn.btn-primary {
    padding: 12px 41px;
}


/* Slider
================================================== */


/*-- Main slide --*/

#main-slide .item {
    overflow: hidden;
}

#main-slide .item {
    min-height: 700px;
    color: #fff;
    background-position: 50% 50%;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-backface-visibility: hidden;
}

#main-slide .item img {
    width: 100%;
    -webkit-backface-visibility: hidden;
}

#main-slide .item .slider-content {
    z-index: 1;
    opacity: 0;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}

#main-slide .item.active .slider-content {
    opacity: 1;
    -webkit-transition: opacity 100ms;
    -moz-transition: opacity 100ms;
    -o-transition: opacity 100ms;
    transition: opacity 100ms;
}

#main-slide .slider-content {
    top: 50%;
    padding: 0;
    position: absolute;
    width: 100%;
    color: #fff;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

#main-slide .slider-content.text-left {
    left: 10%;
}

#main-slide .slider-content.text-right {
    right: 10%;
}

.slider-content {
    position: relative;
    display: table;
    height: 100%;
    width: 100%;
}

.slide-title-box {
    font-size: 16px;
    line-height: 39px;
    background: #2395ec;
    color: #fff;
    display: inline-block;
    padding: 0 15px;
    margin: 0;
}

.slide-title {
    font-size: 28px;
    line-height: 36px;
    font-weight: 400;
    color: #fff;
    margin: 20px 0 10px;
}

.slide-sub-title {
    font-style: normal;
    font-size: 48px;
    line-height: 58px;
    margin: 10px 0;
    color: #fff;
    font-weight: 700;
}

.slider-text {
    display: table;
    vertical-align: bottom;
    color: #fff;
    padding-left: 40%;
    width: 100%;
    padding-bottom: 0;
    padding-top: 20px;
}

.slider-text .slide-head {
    font-size: 36px;
    color: #0052a5;
    position: relative;
}

.slider.btn {
    margin: 15px 5px 0;
    border: 2px solid transparent;
}

.slider.border {
    background: none;
    border: 2px solid #2395ec;
}

.slider.border:hover {
    background: #2395ec;
    border: 2px solid transparent;
}


/* Carousel control */

.carousel-indicators li {
    width: 10px !important;
    height: 10px !important;
    margin: 1px !important;
    border-radius: 100% !important;
    border: 0 !important;
    background: rgba(255, 255, 255, .5);
}

#main-slide .carousel-indicators li.active,
#main-slide .carousel-indicators li:hover {
    background: #2395ec;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

#main-slide .carousel-control.left,
#main-slide .carousel-control.right,
#main-slide .carousel-indicators {
    opacity: 0;
    filter: alpha(opacity=0);
    background-image: none;
    background-repeat: no-repeat;
    text-shadow: none;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

#main-slide:hover .carousel-control.left,
#main-slide:hover .carousel-control.right,
#main-slide:hover .carousel-indicators {
    opacity: 1;
    filter: alpha(opacity=100);
}

#main-slide .carousel-control .fa-angle-left,
#main-slide .carousel-control .fa-angle-right {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

#main-slide .carousel-control .fa-angle-left {
    left: 20px;
}

#main-slide .carousel-control .fa-angle-right {
    right: 20px;
}

#main-slide .carousel-control i {
    background: rgba(0, 0, 0, .3);
    color: #fff;
    line-height: 58px;
    width: 60px;
    height: 60px;
    font-size: 36px;
    border-radius: 0;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

#main-slide .carousel-control i:hover {
    background: #2395ec;
    color: #fff;
}


/*-- Animation */

.carousel .item.active .animated1 {}

.carousel .item.active .animated2 {
    -webkit-animation: slideInLeft .5s ease-in 300ms both;
    animation: slideInLeft .5s ease-in 300ms both;
}

.carousel .item.active .animated3 {
    -webkit-animation: fadeInLeft 1.5s ease-in-out 300ms both;
    animation: fadeInLeft 1.5s ease-in-out 300ms both;
}

.carousel .item.active .animated4 {
    -webkit-animation: lightSpeedIn 1.5s ease-in 300ms both;
    animation: lightSpeedIn 1.5s ease-in 300ms both;
}

.carousel .item.active .animated5 {
    -webkit-animation: bounceInLeft 1s ease-in-out 100ms both;
    animation: bounceInLeft 1s ease-in-out 100ms both;
}

.carousel .item.active .animated6 {
    -webkit-animation: fadeInRight 1s ease-in 200ms both;
    animation: fadeInRight 1s ease-in 200ms both;
}

.carousel .item.active .animated7 {
    -webkit-animation: fadeInRight 1.5s ease-in 300ms both;
    animation: fadeInRight 1.5s ease-in 300ms both;
}

.carousel .item.active .animated8 {
    -webkit-animation: bounceInDown 1s ease-in 800ms both;
    animation: bounceInDown 1s ease-in 800ms both;
}


/*-------------------------------
     HOME 3
-----------------------------------*/

.feature-block2 {
    background: #F5F5F5;
    padding: 60px 60px;
}

.white-bg .feature-block2 {
    background: #fff;
}

.feature-bg .feature-block2 {
    background: #2395ec;
}

.feature-block2 i {
    font-size: 50px;
    line-height: 50px;
    color: #2395ec;
}

.feature-block2 h4 {
    margin: 30px 0px;
}

.feature-block2 p {
    margin-bottom: 30px;
}

.feature-bg .feature-block2 i,
.feature-bg .feature-block2 h4 {
    color: #fff;
}

.feature-bg .feature-block2 p {
    color: #eee;
}

.feature-bg .feature-block2 .btn {
    color: #fff;
    background: #303030;
}


/* Error page
================================================== */

.error-page .error-code {
    display: block;
    font-size: 150px;
    line-height: 150px;
    color: #333;
    margin-bottom: 20px;
    text-shadow: 5px 5px 1px rgba(0, 0, 0, .1);
}

.error-page .error-body .btn {
    margin-top: 30px;
    font-weight: 700;
}