/*
Theme Name:BizeCafe
Theme URI:http://www.mahmud.com
Author:Md.Al-mahmud
Author URI:http://www.mahmud.com
Description:Best WordPress blog theme.Full responsive and user friendly
Tag:WordPress
Version:V1.01
 */
#menu-main-menu li.current-menu-item a {
    color: #2395EC !important;

}

/*Comment form*/

#commentform p.comment-form-comment label {
    display: none;
}

#commentform p.comment-form-comment textarea {
    width: 100%;
}

#commentform p.comment-form-author input {
    width: 89%;
    height: 39px;
}

#commentform p.comment-form-author label {

    font-size: 18px;
}

#commentform p.comment-form-email input {
    width: 89%;
    height: 39px;
}

#commentform p.comment-form-email label {

    font-size: 18px;
}

#commentform p.comment-form-url input {
    width: 87%;
    height: 39px;
}

#commentform p.comment-form-url label {

    font-size: 18px;
}

/*submit*/
#commentform p.form-submit .submit {

    color: #fff;
    background-color: #2395ec;
    border-color: #2395ec;
    padding: 12px 40px;
    border-radius: 3px;
    transition: .5s;
    text-transform: uppercase;

}

#commentform p.form-submit .submit:hover {
    background-color: black;
    border-color: black;
}

.comment .comment-body .comment-author img.avatar {
    border-radius: 50%;
}

.comment .comment-body .comment-author cite {
    font-size: 16px;
    margin-left: 30px;
}

.comment .comment-body .comment-meta, .comment .comment-body p {
    margin-left: 120px !important;
}

.comment .comment-body .reply {
    margin-bottom: 20px !important;
    padding: 5px 20px;
    color: white;
    display: inline-block;
    border-radius: 5px;
    background-color: #2395EC;

}

.comment .comment-body .reply a {
    color: white;
}

.comment ul.children {
    margin-left: 80px;
    border-left: 1px solid #2395EC;
    padding-left: 10px;
}

/*Widget area*/

/*Categories*/
.widget ul li{
    border-bottom: 1px solid #e5e5e5;
    padding: 20px 0px;
}

.widget ul li:nth-last-child(1){
    border-bottom: 1px solid transparent;

}


.widget ul li a{
    color: #777777;
    font-size: 14px;
    line-height: 24px;
}

/*Categories*/
.widget div.tagcloud > a {
    display: inline-block;
    background: #2395ec;
    color: #fff;
    text-align: center;
    font-weight: 600;
    padding: 10px 19px;
    border-radius: 15px;
    margin-bottom: 5px;
    font-size: 16px !important;
    line-height: 24px;
    width: 32%;
    text-align: center;
    text-transform: capitalize;
}

/*Search area*/

.widget form div > label {
    display: none;
}

.widget form div > input {
    border-radius: 0px;
    border-color: #e5e5e5;
    height: 40px;
    padding: 0px 10px;
    font-size: 16px;
    width: 70%;
}

.widget form div > [type="submit"] {
    width: 25%;
    background-color: #2395EC;
    color: white;
    border:1px solid #2395EC;

}

/*Recent post*/
.widget article div.small-post-thumbnail a img{
    height: 70px !important;
    width:80px!important;
}

/*Footer Widghet categories style*/

/*.footer-widget ul li {*/
    /*border-bottom: 1px solid #e5e5e5;*/
    /*padding: 20px 0px;*/
/*}*/
/*.footer-widget ul li a{*/
    /*color: white;*/
    /*font-size: 14px;*/
    /*line-height: 24px;*/
/*}*/
/*.footer-widget ul li:nth-last-child(1){*/
    /*border-bottom: 1px solid transparent;*/
/*}*/



.footer-widget .widget-content{
    color: #fff;
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 16px;
}
.footer-widget .widget-content .date{
    float: left;
    width: 38px;
    height: 46px;
    border: 2px solid #fff;
    text-align: center;
    text-transform: uppercase;
    line-height: 18px;
    padding-top: 5px;
    margin-right: 20px;
}

.footer-widget .widget-content span{
    display: block;
    font-weight: 700;
}

.footer-widget .widget-content .text h5{
    color: #fff;
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 16px;
}


/*footer widget*/

.footer-widget .widget-content ul.list-inline li a img{
    width: 70px;
    height: 70px;
    margin-bottom:8px;
}

/*Sidebar fix*/

.sidebar{
    margin-top:-70px !important;
}

/*Portfolio page */










